#top{
	background-color: orange;
	padding-top: 200px;
	padding-bottom: 200px;	
	margin-left: 0px;
	opacity: 0.6;
	width: 100%;
	z-index: 2;
	

}


#strip{
	background-color: black;
	padding-top: 5px;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom-color: #003345;
	
}

#titleText{
	font-family: 'Bree Serif';
	font-size: 600%;
	position: fixed;
	margin-top: 30px;
	margin-right: 10px;

	top: 0;
	right:0;
	padding: 10px;
	color: black;
	z-index: 1;

}


#hangOver{
	position:absolute;
	background-color: black;
	margin-top: 50px;
	margin-left: 75px;
	margin-right: 100px;
	width: 350px;
	height: 2000px;
	z-index: 1;
	border-radius: 30px;
	padding: 0px;
}

#inBlack{
	font-family: 'Bree Serif';
	font-size: 150%;
	color: yellow;
	position: relative;
	margin: -10px 20px 10px 20px;
	padding: 0px;
	
	text-align: justify;
	

}

.patternBG{
	background-image: url('bgpattern3.jpg');
}

.noMargin{
	margin: 0px;
}
